@model List<EmploymentRequestAlertViewModel>
@{
    ViewData["Title"] = "پنل کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <link rel="stylesheet" href="~/main/css/custom/profile.css">
}
<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>پروفایل</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item text-white" aria-current="page">پروفایل</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dash-header-part">
    <div class="container">
        <div class="row">
          
            @await Component.InvokeAsync("UserInformationComponent", @ViewBag.UserId)

            @await Component.InvokeAsync("UserStatisticalInformationComponent", @ViewBag.UserId)

        </div>
        @await Component.InvokeAsync("UserDashboardMenuComponent")
    </div>
</section>
<section class="profile-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h3>اطلاعیه‌ها </h3>
                    </div>
                    <div class="profile-intro">
                        @if (Model != null && Model.Any())
                        {
                            @foreach(var item in Model)
                            {
                                switch (item.Status)
                                {
                                    case Status.Accepted:
                                    <div class="alert alert-success">
                                        درخواست استخدام شما برای آگهی @item.EmploymentTitle در وضعیت تائید می باشد.
                                    </div>    
                                    break; 
                                    
                                    case Status.Rejected:
                                    <div class="alert alert-danger">
                                        درخواست استخدام شما برای آگهی @item.EmploymentTitle در وضعیت عدم تائید می باشد.
                                    </div>    
                                    break;
                                    
                                    case Status.Waiting:
                                    <div class="alert alert-warning">
                                        درخواست استخدام شما برای آگهی @item.EmploymentTitle در وضعیت انتظار می باشد.
                                    </div>    
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>