@model CategoryViewModel


<section class="section category-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-center-heading">
                    <h2>
                        دسته بندی های برتر توسط <span>تبلیغ جذاب است </span>
                    </h2>
                <p>@Model.CategoryText</p>   
                </div>
            </div>
        </div>
        <div class="row">
          @foreach(var item in Model.categories!){
                string path = string.Empty;

                if (item.Image == "defaultAvatar.jpg" || item.Image == "notFound.jpg")
                {
                    path = "../Gallery/defaultAvatar.jpg";
                }
                else
                {
                    path = $"../Gallery/Category/{item.Image}";
                }

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="category-card">
                    <div class="category-head" style="background:url(@path) no-repeat center; background-size:cover">
                            <a href="/Business/Explore?category=@item.Id">
                            <h4>@item.Name </h4>
                            <p>(@item.Count)</p>
                        </a>
                    </div>
                    <ul class="category-list">
                     
                            @foreach(var subItem in item.SubCategories!)
                            {
                                <li>
                                    <a href="/Business/Explore?category=@item.Id">
                                        <h6>@subItem.Name </h6>
                                        <p>(@subItem.Count)</p>
                                    </a>
                                </li>
                            }

                    </ul>
                </div>
            </div>
          }
         
        </div>
       
    </div>
</section>
